asgiref==3.8.1
distlib==0.3.8
Django==4.2.14
djangorestframework==3.15.2
drf-yasg==1.21.7
filelock==3.15.4
inflection==0.5.1
joblib==1.4.2
numpy==2.0.1
nvidia-nccl-cu12==2.22.3
packaging==24.1
pandas==2.2.2
pathlib==1.0.1
platformdirs==4.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
scikit-learn==1.5.1
scipy==1.13.1
six==1.16.0
sqlparse==0.5.1
threadpoolctl==3.5.0
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
virtualenv==20.26.3
xgboost==2.1.1
